<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hello world!
        </p>
        <span>Test</span>
    </div>
</main>


<p>Block</p>
<p>Block</p>
<p>Block</p>
<p>Block</p>
<p>Block</p>
<p>Block</p>



<div style="margin: 50px 0 50px 100px;background: grey;">

    <span>inLine</span>
    <span>inLine</span>
    <span>inLine</span>

    <span class="block">inLine-BlockinLine-BlockinLine-BlockinLine-Block</span>
</div>